:root{
    --primary-color:#FF001A;
    --secondary-color:#fff;
    --max-width:1100px;
}

/* utility */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
}
.container{
    margin: auto;
    padding: 0 2rem;
    width: var(--max-width);
    overflow: hidden;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.primary-color{
    color: var(--primary-color);
}
span{
    color: var(--primary-color);
}
hr{
    width: 20%;
    margin: 0 auto;
    background-color: #FF001A;
    padding: 0.1rem;
    border: none;
}
.active{
    color: var(--primary-color)!important;
}
/* navbar */

#navbar{ 
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 0.50rem; 
    background-color: #000;
}
#navbar .container{
    display: grid;
    grid-template-columns: 6fr 2fr 3fr ;
}
#navbar .container .logo{
    width: 200px;
    height: 50px;
    align-self: center;
    color: var(--secondary-color);
    cursor: pointer;
}
#navbar .container ul{
    display: flex;
    align-items: center;
    text-align: center;
}
#navbar .container ul li a{
    padding: 1rem;
    color: var(--secondary-color);
    font-weight: bold;
}
#navbar .container .nav-button-group{
    display: flex;
    margin:0.50rem;
}
#navbar .container .nav-button-group .btn-login{
    color: #fff;
    border: none;
    width: 50px;
    padding: 0.70rem;
    border-radius: 100%;
    font-weight: bold;
    margin: 0;
    background-color: transparent;   
}
#navbar .container .nav-button-group .btn-login i:hover{
    color: var(--primary-color);
}

#navbar .container ul li a:hover{
    color: var(--primary-color);
}


/* section Movie */
#section-movie{
    width: 100%;
    height: 900px;
    background-color: var(--secondary-color);
}
#section-movie .container .container-boxes{
    display: grid;
    grid-template-columns: repeat(6,170px);
    margin: 1rem;
}
#section-movie .container .container-boxes .box{
    width: 150px;
    height: 180px;
    background-color: var(--primary-color);
    margin: 0.50rem;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
#section-movie .container .container-boxes .box > img{
    width: 150px;
    border-radius: 10px;
    height: 180px;
    border: none;
}
#section-movie .container .container-boxes .box:hover{
    transform: scale(1.1);
}

/* footer */
/* footer */
#main-footer{
    width: 100%;
    height: 200px;
    background-color:#000;
}
#main-footer .container .container-footer{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    padding: 3rem;
}
#main-footer .container .container-footer .footer-logo img{
    width: 200px;
    display: block;
    justify-content: center;
}
#main-footer .container .container-footer .footer-logo .footer-social{
   display: grid;
   grid-template-columns: 20px 20px 20px 20px 20px;
   justify-content: left;
   margin-left: 3rem;
}
#main-footer .container .container-footer .footer-logo .footer-social a{
   color: #FF001A;
}
#main-footer .container .container-footer .footer-links{
    padding: 1rem;
    color: var(--primary-color);
}
#main-footer .container .container-footer .footer-links h4{
    font-size: 1.5rem;
}
#main-footer .container .container-footer .footer-links a{
    color: #fff;
    float: left;
}
#main-footer .container .container-footer .footer-links a:hover{
    color: var(--primary-color);
}
#main-footer .container .container-footer .footer-genre{
    padding: 1rem;
}
#main-footer .container .container-footer .footer-genre h4{
    color: var(--primary-color);
    font-size: 1.5rem;
}
#main-footer .container .container-footer .footer-genre .container-genre{
    display: grid;
    grid-template-columns: 2fr 2fr;
    text-align: center;
}
#main-footer .container .container-footer .footer-genre .container-genre a{
    color: #fff;
    float: left;
}
#main-footer .container .container-footer .footer-genre .container-genre a:hover{
    color: var(--primary-color);
}
#main-footer .container .copyright-section{
    background-color: var(--primary-color);
    padding: 1rem;
    margin-bottom: 2rem;
}
#main-footer .container .copyright-section > p{
    text-align: center;
}